<div class="welcome_header">Welcome <%= current_user.name %>!</div>

<a href="#" data-options="align:left" data-dropdown="drop1"<i class="fi-widget"></i></a>
<ul id="drop1" class="f-dropdown large-2 columns" data-dropdown-content>
  <li><%= link_to 'Settings', edit_user_registration_path %></li>
  <li><%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
</ul>

<div class="large-12 columns ramadan_header">Ramadan 2014</div>

<div class="row">
  <div class="medium-12 columns">
    <%= calendar @date do |date| %>
      <%= date.day %>
    <% end %>
  </div>
</div>

